<!-- <!DOCTYPE html> -->
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="w3-container">

        <ul class="header"><!-- w3-green -->
            <li>
                <img class="logo" {% if logo_url %}src=" ../../../static/Logo_TETRADIS_Power_Blanc.png"{% else %}src=" ../static/Logo_TETRADIS_Power_Blanc.png"{% endif %} />
            </li>
            <li>
                <h1>{% if premise %} PREMISE {{ premise.id }} - {% endif %} {{ heading }}</h1>
            </li>
        </ul>
    
        {% block content %}{% endblock %}
        
    </div>

</body>
</html>
